*{
  box-sizing: border-box
  ;
}
body {
  width: 600px;
  margin: auto;
  padding: 20px;
  background: plum;
  text-align: center;
}
#lists div {
  padding: 10px;
  width: 11cm; 
}
.completed{
  text-decoration: line-through;
}
#list-input{
  width:70% ;
  font-size: 20px;
  margin: auto;
}
button {
  float: right;
  color: red;
  font-weight: bold;
}
input[type="checkbox"] {
  margin-right: 10px;
}
